In [1]:
import models
from models import get_raw_data

import pandas as pd
import numpy as np

from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LinearRegression

In [2]:
pasta = 'database/dados_tratados/harmonicos_1'
arquivo = 'Dados_Normalizados.csv'

In [3]:
df = get_raw_data.GetData(pasta,arquivo).GetDataframe()

In [4]:
df

,rotacao_hz,maximo,rms,assimetria,curtose,fator_crista,pot_ball_fault,pot_outer_race,pot_rotacao_hz,sensor,normal,desalinhamento_horizontal,desalinhamento_vertical,desbalanceamento,ball_fault,outer_race
0,0.00,0.282094,0.275661,0.466259,0.146040,0.341173,0.005802,0.004186,0.004077,0.0,1,0.0,0.0,0.0,0.0,0.0
1,0.00,0.332706,0.276122,0.467238,0.148418,0.466092,0.006144,0.003579,0.004078,0.0,1,0.0,0.0,0.0,0.0,0.0
2,0.00,0.332706,0.276035,0.463734,0.148229,0.466341,0.005770,0.003331,0.004263,0.0,1,0.0,0.0,0.0,0.0,0.0
3,0.00,0.359523,0.276068,0.479110,0.160277,0.533047,0.005814,0.003959,0.004161,0.0,1,0.0,0.0,0.0,0.0,0.0
4,0.00,0.359523,0.274593,0.476260,0.156181,0.537617,0.005772,0.003779,0.003671,0.0,1,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49603,0.95,1.420854,2.157980,0.081319,0.035974,0.094412,0.521079,0.339251,75.399603,1.0,0,0.0,0.0,0.0,0.0,35.0
49604,0.95,1.582628,2.152515,0.086307,0.037944,0.151765,0.340771,0.220798,74.728060,1.0,0,0.0,0.0,0.0,0.0,35.0
49605,0.95,1.582628,2.155161,0.086497,0.040828,0.151093,0.542961,0.296457,74.267885,1.0,0,0.0,0.0,0.0,0.0,35.0
49606,0.95,1.560321,2.158060,0.064818,0.044697,0.142641,0.358225,0.272909,74.105395,1.0,0,0.0,0.0,0.0,0.0,35.0
49607,0.95,1.600151,2.164308,0.085052,0.046138,0.154826,0.415253,0.358089,74.203646,1.0,0,0.0,0.0,0.0,0.0,35.0

In [5]:
x = df[models.colunas_x]
y = df[models.defeitos_gerais]
scaler = MinMaxScaler()
y = scaler.fit_transform(y)

In [6]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.neighbors import KNeighborsRegressor

from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error


# Separando os dados em conjunto de treinamento e conjunto de teste
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

# Criando o modelo de regressÃ£o com o algoritmo Random Forest
regressor = RandomForestRegressor(n_estimators=500)

# Treinando o modelo com os dados de treinamento
regressor.fit(X_train, y_train)

# Fazendo previsÃµes com os dados de teste
y_pred = regressor.predict(X_test)

# Calculando o erro mÃ©dio quadrÃ¡tico das previsÃµes
mse = mean_squared_error(y_test, y_pred)

# Imprimindo o erro mÃ©dio quadrÃ¡tico
print('Erro mÃ©dio quadrÃ¡tico:', mse)

Erro mÃ©dio quadrÃ¡tico: 0.0061715059189392405

In [7]:
y_p = pd.DataFrame(y_pred)
y_p.columns = pd.DataFrame(y_test).columns

In [8]:
y_t = scaler.inverse_transform(y_test)
pd.DataFrame(y_t)

        0    1     2     3    4    5
0     0.0  0.0  0.00  35.0  0.0  0.0
1     0.0  0.0  1.90   0.0  0.0  0.0
2     0.0  0.5  0.00   0.0  0.0  0.0
3     0.0  0.0  0.00  20.0  0.0  0.0
4     0.0  0.0  0.00   6.0  0.0  0.0
...   ...  ...   ...   ...  ...  ...
9917  0.0  0.0  0.63   0.0  0.0  0.0
9918  0.0  0.0  0.63   0.0  0.0  0.0
9919  0.0  0.0  0.00   0.0  0.0  6.0
9920  0.0  0.0  0.00   0.0  0.0  6.0
9921  0.0  1.0  0.00   0.0  0.0  0.0

[9922 rows x 6 columns]

In [9]:
y_p = scaler.inverse_transform(y_pred)
pd.DataFrame(y_p)

          0      1        2       3      4      5
0     0.000  0.379  0.00102  25.906  0.210  0.972
1     0.000  0.000  0.82760   7.196  0.000  0.000
2     0.002  0.523  0.00330   0.000  0.000  0.012
3     0.000  0.000  0.00000  18.590  0.000  0.080
4     0.000  0.009  0.03706  19.114  0.000  0.040
...     ...    ...      ...     ...    ...    ...
9917  0.000  0.004  0.80278   2.002  0.024  0.000
9918  0.000  0.011  0.61838   0.000  0.000  0.000
9919  0.000  0.059  0.00000   1.550  0.000  5.376
9920  0.000  0.111  0.17080   9.428  0.012  1.540
9921  0.000  0.870  0.00356   0.000  0.192  2.156

[9922 rows x 6 columns]

In [10]:
mse = mean_squared_error(y_t, y_p)
mse

2.7490321836679676

In [19]:
erro = y_t - y_p
erro = pd.DataFrame(erro)
erro

          0      1        2       3      4      5
0     0.000 -0.379 -0.00102   9.094 -0.210 -0.972
1     0.000  0.000  1.07240  -7.196  0.000  0.000
2    -0.002 -0.023 -0.00330   0.000  0.000 -0.012
3     0.000  0.000  0.00000   1.410  0.000 -0.080
4     0.000 -0.009 -0.03706 -13.114  0.000 -0.040
...     ...    ...      ...     ...    ...    ...
9917  0.000 -0.004 -0.17278  -2.002 -0.024  0.000
9918  0.000 -0.011  0.01162   0.000  0.000  0.000
9919  0.000 -0.059  0.00000  -1.550  0.000  0.624
9920  0.000 -0.111 -0.17080  -9.428 -0.012  4.460
9921  0.000  0.130 -0.00356   0.000 -0.192 -2.156

[9922 rows x 6 columns]

In [23]:
medias = {}
for i in range(6):
    medias[i] = np.mean(erro[i])

medias = pd.json_normalize(medias)
medias

          0         1         2         3         4         5
0 -0.000017  0.000773 -0.000583  0.028103 -0.030253 -0.026956

In [24]:
desvio_padrao = {}
for i in range(6):
    desvio_padrao[i] = np.std(erro[i])

desvio_padrao = pd.json_normalize(desvio_padrao)
desvio_padrao

          0         1         2         3         4         5
0  0.064098  0.193049  0.191914  3.278035  1.079067  2.122182

In [25]:
maximo = {}
for i in range(6):
    maximo[i] = np.max(np.abs(erro[i]))

maximo = pd.json_normalize(maximo)
maximo

       0      1        2      3      4     5
0  0.976  1.812  1.73328  30.68  21.18  30.3

In [36]:
erro_10 = erro[5][erro[5] <= 0.1*np.max(y_t[5])]

acerto = len(erro_10)/len(erro)
acerto

0.9584761136867567

In [31]:
erro_10 = pd.DataFrame()

# Loop para aplicar o filtro em cada coluna
for col in erro.columns:
    erro_10[col] = erro[col][erro[col] <= 0.1*np.max(y_t[col])]

erro_10

          0      1        2       3      4      5
0     0.000 -0.379 -0.00102     NaN -0.210 -0.972
1     0.000  0.000      NaN  -7.196  0.000  0.000
2    -0.002 -0.023 -0.00330   0.000  0.000 -0.012
3     0.000  0.000  0.00000   1.410  0.000 -0.080
4     0.000 -0.009 -0.03706 -13.114  0.000 -0.040
...     ...    ...      ...     ...    ...    ...
9917  0.000 -0.004 -0.17278  -2.002 -0.024  0.000
9918  0.000 -0.011  0.01162   0.000  0.000  0.000
9919  0.000 -0.059  0.00000  -1.550  0.000  0.624
9920  0.000 -0.111 -0.17080  -9.428 -0.012    NaN
9921  0.000  0.130 -0.00356   0.000 -0.192 -2.156

[9922 rows x 6 columns]

In [32]:
erro_10 = erro_10.dropna()
erro_10

          0      1        2       3      4      5
2    -0.002 -0.023 -0.00330   0.000  0.000 -0.012
3     0.000  0.000  0.00000   1.410  0.000 -0.080
4     0.000 -0.009 -0.03706 -13.114  0.000 -0.040
5     0.000 -0.002  0.00000   0.000 -0.294 -0.012
6     0.000 -0.008 -0.00560   0.726  0.000  0.000
...     ...    ...      ...     ...    ...    ...
9916  0.000  0.000  0.00000  -0.040 -0.150  0.340
9917  0.000 -0.004 -0.17278  -2.002 -0.024  0.000
9918  0.000 -0.011  0.01162   0.000  0.000  0.000
9919  0.000 -0.059  0.00000  -1.550  0.000  0.624
9921  0.000  0.130 -0.00356   0.000 -0.192 -2.156

[6775 rows x 6 columns]

In [33]:
acerto = len(erro_10)/len(erro)
acerto

0.6828260431364644