In [1]:
import models
from models import get_raw_data

import pandas as pd
import numpy as np

from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LinearRegression

In [2]:
pasta = 'database/dados_tratados/harmonicos_8'
arquivo = 'Dados_Normalizados.csv'

In [3]:
df = get_raw_data.GetData(pasta,arquivo).GetDataframe()

In [4]:
df

,rotacao_hz,maximo,rms,assimetria,curtose,fator_crista,pot_ball_fault,pot_outer_race,pot_rotacao_hz,sensor,normal,desalinhamento_horizontal,desalinhamento_vertical,desbalanceamento,ball_fault,outer_race
0,0.00,0.282094,0.275661,0.466259,0.146040,0.341173,0.020548,0.007628,0.012659,0.0,1,0.0,0.0,0.0,0.0,0.0
1,0.00,0.332706,0.276122,0.467238,0.148418,0.466092,0.021268,0.007418,0.012973,0.0,1,0.0,0.0,0.0,0.0,0.0
2,0.00,0.332706,0.276035,0.463734,0.148229,0.466341,0.021562,0.007572,0.013581,0.0,1,0.0,0.0,0.0,0.0,0.0
3,0.00,0.359523,0.276068,0.479110,0.160277,0.533047,0.020470,0.008216,0.013286,0.0,1,0.0,0.0,0.0,0.0,0.0
4,0.00,0.359523,0.274593,0.476260,0.156181,0.537617,0.020818,0.007933,0.011916,0.0,1,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49603,0.95,1.420854,2.157980,0.081319,0.035974,0.094412,1.001262,0.912434,39.572743,1.0,0,0.0,0.0,0.0,0.0,35.0
49604,0.95,1.582628,2.152515,0.086307,0.037944,0.151765,0.815213,0.834230,39.038905,1.0,0,0.0,0.0,0.0,0.0,35.0
49605,0.95,1.582628,2.155161,0.086497,0.040828,0.151093,0.930660,0.925486,38.970751,1.0,0,0.0,0.0,0.0,0.0,35.0
49606,0.95,1.560321,2.158060,0.064818,0.044697,0.142641,0.850407,0.935185,38.747965,1.0,0,0.0,0.0,0.0,0.0,35.0
49607,0.95,1.600151,2.164308,0.085052,0.046138,0.154826,0.864680,0.958156,38.920267,1.0,0,0.0,0.0,0.0,0.0,35.0

In [5]:
x = df[models.colunas_x]
y = df[models.defeitos_gerais]
scaler = MinMaxScaler()
y = scaler.fit_transform(y)

In [6]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.neighbors import KNeighborsRegressor

from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error


# Separando os dados em conjunto de treinamento e conjunto de teste
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

# Criando o modelo de regressÃ£o com o algoritmo Random Forest
regressor = RandomForestRegressor(n_estimators=500)

# Treinando o modelo com os dados de treinamento
regressor.fit(X_train, y_train)

# Fazendo previsÃµes com os dados de teste
y_pred = regressor.predict(X_test)

# Calculando o erro mÃ©dio quadrÃ¡tico das previsÃµes
mse = mean_squared_error(y_test, y_pred)

# Imprimindo o erro mÃ©dio quadrÃ¡tico
print('Erro mÃ©dio quadrÃ¡tico:', mse)

Erro mÃ©dio quadrÃ¡tico: 0.0061966537247169036

In [7]:
y_p = pd.DataFrame(y_pred)
y_p.columns = pd.DataFrame(y_test).columns

In [8]:
y_t = scaler.inverse_transform(y_test)
pd.DataFrame(y_t)

        0    1     2     3    4    5
0     0.0  0.0  0.00  35.0  0.0  0.0
1     0.0  0.0  1.90   0.0  0.0  0.0
2     0.0  0.5  0.00   0.0  0.0  0.0
3     0.0  0.0  0.00  20.0  0.0  0.0
4     0.0  0.0  0.00   6.0  0.0  0.0
...   ...  ...   ...   ...  ...  ...
9917  0.0  0.0  0.63   0.0  0.0  0.0
9918  0.0  0.0  0.63   0.0  0.0  0.0
9919  0.0  0.0  0.00   0.0  0.0  6.0
9920  0.0  0.0  0.00   0.0  0.0  6.0
9921  0.0  1.0  0.00   0.0  0.0  0.0

[9922 rows x 6 columns]

In [9]:
y_p = scaler.inverse_transform(y_pred)
pd.DataFrame(y_p)[0:10]

       0      1        2       3       4      5
0  0.000  0.620  0.02862  17.222   0.040  0.774
1  0.010  0.000  0.94148   6.238   0.000  0.000
2  0.000  0.518  0.02084   0.000   0.000  0.000
3  0.000  0.000  0.00760  19.142   0.000  1.152
4  0.000  0.020  0.59252   5.944   0.000  0.000
5  0.000  0.000  0.00000   0.000  22.292  0.000
6  0.000  0.012  0.00660  18.508   0.000  0.000
7  0.000  0.005  0.00356   0.000   0.000  6.488
8  0.998  0.001  0.00000   0.000   0.000  0.000
9  0.000  0.000  0.00000   5.960   0.070  0.036

In [10]:
mse = mean_squared_error(y_t, y_p)
mse

2.6239093763394425

In [11]:
erro = y_t - y_p
erro = pd.DataFrame(erro)
erro

          0      1        2       3     4      5
0     0.000 -0.620 -0.02862  17.778 -0.04 -0.774
1    -0.010  0.000  0.95852  -6.238  0.00  0.000
2     0.000 -0.018 -0.02084   0.000  0.00  0.000
3     0.000  0.000 -0.00760   0.858  0.00 -1.152
4     0.000 -0.020 -0.59252   0.056  0.00  0.000
...     ...    ...      ...     ...   ...    ...
9917  0.000  0.000 -0.31814  -1.570  0.00  0.000
9918 -0.008 -0.002 -0.02942   0.000  0.00  0.000
9919  0.000 -0.002 -0.00280  -1.710  0.00  0.336
9920 -0.004 -0.309 -0.29956  -6.378  0.00  4.976
9921  0.000  0.152 -0.01364  -4.480 -0.04 -0.110

[9922 rows x 6 columns]

In [12]:
medias = {}
for i in range(6):
    medias[i] = np.mean(erro[i])

medias = pd.json_normalize(medias)
medias

          0         1         2         3       4         5
0  0.000099 -0.002653  0.002977  0.014304 -0.0175 -0.011879

In [13]:
desvio_padrao = {}
for i in range(6):
    desvio_padrao[i] = np.std(erro[i])

desvio_padrao = pd.json_normalize(desvio_padrao)
desvio_padrao

          0         1         2         3         4        5
0  0.060741  0.200149  0.196416  3.181855  0.940373  2.15684

In [14]:
maximo = {}
for i in range(6):
    maximo[i] = np.max(np.abs(erro[i]))

maximo = pd.json_normalize(maximo)
maximo

       0      1        2      3       4     5
0  0.906  1.968  1.84656  33.74  19.808  29.4

In [15]:
erro_10 = erro[5][erro[5] <= 0.1*np.max(y_t[5])]

acerto = len(erro_10)/len(erro)
acerto

0.954343882281798

In [16]:
erro_10 = pd.DataFrame()

# Loop para aplicar o filtro em cada coluna
for col in erro.columns:
    erro_10[col] = erro[col][erro[col] <= 0.1*np.max(y_t[col])]

erro_10

          0      1        2      3     4      5
0     0.000 -0.620 -0.02862    NaN -0.04 -0.774
1    -0.010  0.000      NaN -6.238  0.00  0.000
2     0.000 -0.018 -0.02084  0.000  0.00  0.000
3     0.000  0.000 -0.00760  0.858  0.00 -1.152
4     0.000 -0.020 -0.59252  0.056  0.00  0.000
...     ...    ...      ...    ...   ...    ...
9917  0.000  0.000 -0.31814 -1.570  0.00  0.000
9918 -0.008 -0.002 -0.02942  0.000  0.00  0.000
9919  0.000 -0.002 -0.00280 -1.710  0.00  0.336
9920 -0.004 -0.309 -0.29956 -6.378  0.00    NaN
9921  0.000  0.152 -0.01364 -4.480 -0.04 -0.110

[9922 rows x 6 columns]

In [17]:
erro_10 = erro_10.dropna()
erro_10

          0      1        2      3      4      5
2     0.000 -0.018 -0.02084  0.000  0.000  0.000
3     0.000  0.000 -0.00760  0.858  0.000 -1.152
4     0.000 -0.020 -0.59252  0.056  0.000  0.000
5     0.000  0.000  0.00000  0.000 -2.292  0.000
6     0.000 -0.012 -0.00660  1.492  0.000  0.000
...     ...    ...      ...    ...    ...    ...
9916  0.000  0.000  0.00000  0.000 -0.120  0.600
9917  0.000  0.000 -0.31814 -1.570  0.000  0.000
9918 -0.008 -0.002 -0.02942  0.000  0.000  0.000
9919  0.000 -0.002 -0.00280 -1.710  0.000  0.336
9921  0.000  0.152 -0.01364 -4.480 -0.040 -0.110

[6711 rows x 6 columns]

In [18]:
acerto = len(erro_10)/len(erro)
acerto

0.6763757306994558